@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600&display=swap');

body{
	display: flex;
	justify-content: center;
	padding-top: 50px;
	background-image: url(bg.jpg)
}
#container{
	background-color: #b40000;
	width: 650px;
	height: 450px;
}
#title{
	display: flex;
	justify-content: center;
	color: white;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
}
#info{
	display: flex;
	font-family: 'Inter', sans-serif;
	color: white;
	padding-left: 40px;
}
#ques{
	width: 40%;
}
#ans{
	margin-top: 20px;
}
#name{
	width: 300px;
}
#email{
	width: 300px;
}
#number{
	width: 300px;
}
input, select{
	margin-bottom:23px;
}
#btn{
	display: flex;
	justify-content: center;
}
